.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__all {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1080px) {
    .slider {
        &__img {
            width: 700px;
            height: 198px;
        }
    }
}

@media screen and (max-width: 730px) {
    .slider {
        &__img {
            width: 500px;
            height: 142px;
        }
    }
}

@media screen and (max-width: 530px) {
    .slider {
        &__img {
            width: 250px;
            height: 93px;
        }
    }
}